.App {
  text-align: center;
  background-color: yellow;
  height: 30px;
  font-weight: 700;
  font-size: 20px;
}

.chap{
  margin-left: 500px;
  margin-top: -150px;
  border-left: 3px solid green;
  padding-left: 20px;
  width: 400px;
}